ADMIN_PORT=3001
ADMIN_FALLBACK_PORT=2088
REACT_APP_API_URL=http://localhost:1357
BSC_RPC_URL=https://bsc-dataseed.binance.org/
BSC_RPC_TIMEOUT_MS=10000
HTTP_TIMEOUT_MS=10000
HTTP_MAX_RETRIES=2
BSCSCAN_API_KEY=
ETHERSCAN_API_KEY=
